@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgba(15, 14, 15, 0.4);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(15, 14, 15, 0.7);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(15, 14, 15, 0.9);
  }
}
